// reset
input, button, textarea, select {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-family: $cinder-sans-font;
	outline: none;
}

input[type="button"], input[type="submit"], button {
	min-width: 50px;
}