.row {
	@extend .cf;
	max-width: $cinder-grid-width;
	
	@for $i from 1 to ($cinder-grid-columns + 1) {
		.col-#{$i} {
			width: percentage( $i / $cinder-grid-columns );
		}

		.col-#{$i}-fluid {
			width: percentage( $i / $cinder-grid-columns );	
		}
	}

	[class*='col-'] {
		float: left;
	}

	[class*='col-']:last-of-type {
		float: right;
	}
}

@media (max-width: $cinder-grid-width / 2) {
	.row {
		@for $i from 1 to ($cinder-grid-columns + 1) {
			.col-#{$i} {
				float: none;
				width: 100%;
			}
		}
	}
}